[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "QDNAseq"]
	path = QDNAseq
	url = https://github.com/ccagc/qdnaseq
	shallow = true
	registered = true
